:root {
  /* COLORS */
  --backgroundColor: hsl(0, 0%, 7%);
  --sideBarColor: hsl(0, 0%, 15%);
  --mainColor: hsl(0, 88%, 57%);
  --textColor: hsl(0, 0%, 85%);
  --accentColor: hsl(144, 75%, 52%);
  --accentColorLight: hsl(144, 97%, 58%);
  --grayColor: hsl(0, 0%, 22%);
  --lightGrayColor: hsl(0, 0%, 76%);
  --dialogBackgroundColor: hsla(0, 0%, 0%, 0.75);

  /* FONTS */

  --font-size-48: 4.8rem;
  --font-size-32: 3.2rem;
  --font-size-24: 2.4rem;
  --font-size-20: 2rem;
  --font-size-18: 1.8rem;
  --font-size-16: 1.6rem;
  --font-size-14: 1.4rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --backgroundColor: #0a0a0a;
    --textColor: #ededed;
  }
}

html,
body {
  font-size: 62.5%;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--textColor);
  background: var(--backgroundColor);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
